* { margin:0; padding:0; }

body { background:#f0f0f0; color:#444; font:13px "lucida sans"; }

h1 { padding:10px 20px; background:#888; color:#fff; text-shadow:#333 2px 2px 2px; text-align:center; text-transform:uppercase; font-weight:normal; font-size:12px; }
h2 { margin-top:10px; }

#container { width:868px; margin:0 auto; padding:20px; background:#fff; border:1px solid #e0e0e0; border-top:none; }
#video { width:468px; margin:0 auto; }
	#video h2 { background:#222; color:#f6f6f6; font-size:11px; font-weight:bold; padding:10px; }
	#video h2 span { color:#666; margin-right:10px; }

form {  }
	fieldset { border:1px solid #ccc; background:#f6f6f6; margin:10px 0; padding:10px;  }
		.text { width:300px; margin-right:10px; }

.results { list-style-type:none; }
	.results li { padding:10px; font-size:11px; border-bottom:1px solid #ccc; }
	.results li.alt { background:#f6f6f6; }
	
.ajaxLoading { background:#fff url(images/indicator_arrows_circle.gif) no-repeat scroll right center; }
	
#footer { width:468px; margin:0 auto; padding:20px; font-size:10px; }
	#footer dl { line-height:150%; }
	#footer dl dt { width:80px; float:left; font-weight:bold; }
	#footer dl dd { color:#666; }
	
a { font-weight:bold; color:#1273AC; }